{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Все посты
{% endblock %}

{% block content %}
<div>
	<h2>Все посты:</h2>

<ul>
{% for p in posts %}
	<div>
	<li>
		<h2>{{ p.title }}</a></h2>
		<p><a href="/allcategory/">{{ p.category }}</a></p>
	    <p>Дата создания: {{ p.created}}</p>
		<p><a class="btn btn-primary btn-lg" href="{% url 'blog:post_detail' p.id %}" role="button">Дізнатись більше..</a></p>
	</li>
	</div>
{% endfor %}
</ul>
</div>
{% endblock %} 

<!-- href="post/{{post.id}}" -->
<!-- 	<div>
	<li>
		<h2>{{ p.title }}</h2>
		<p>Created: {{ p.created }}</p>
		<p><a class="btn btn-primary btn-lg" href="post/{{ p.id }}" role="button">Дізнатись більше..</a></p>
	</li>
	</div> -->