{% extends "index.html" %}

{% block content %}
<div>
	<h2>Тут находяться все наши посты:</h2>

<ul>
{% for p in posts %}
	<div>
	<li>
		<h2>{{ p.title }}</a></h2>
		<p>Created: {{ p.created }}</p>
		<p><a class="btn btn-primary btn-lg" href="{% url 'post_detail' post_id=p.id %}" role="button">Дізнатись більше..</a></p>
	</li>
	</div>
{% endfor %}
</ul>
</div>
{% endblock %} 

<!-- href="post/{{post.id}}" -->
<!-- 	<div>
	<li>
		<h2>{{ p.title }}</h2>
		<p>Created: {{ p.created }}</p>
		<p><a class="btn btn-primary btn-lg" href="post/{{ p.id }}" role="button">Дізнатись більше..</a></p>
	</li>
	</div> -->