{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<style>
		h1   {color:blue;}
		p    {color:black;}
		</style>
		<title>{% block title %} SITE NAME {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
	</head>

	<body>
		{% block head %}
			{% block htitle %} {% endblock %}
			{% block menu %} {% endblock %}
		{% endblock %}

		{% block page %}
			{% block content %}
			{% endblock %}
		{% endblock %}

		{% block footer %}
			{% block copyright %}
			{% endblock %}
		{% endblock %}
	</body>
</html>


