{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}"/ type="text/css">
    <title> My Cool Django Blog </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style id="holderjs-style" type="text/css"></style>
    </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/index/">Главная</a>
          <a class="blog-nav-item" href="/allposts/">Все посты</a>
          <a class="blog-nav-item" href="/allcategory/">Все категории</a>
          <a class="blog-nav-item" href="/poems/">Любимые стихи</a>
          <a class="blog-nav-item" href="/contact/">Наши контакты</a>
        </nav>
      </div>
    </div>
    <div class="container">

<!--       <div class="blog-header">
        <h1 class="blog-title">Our little travels..</h1>
        <p class="lead blog-description">full of love</p>
      </div>
    </div> -->
    <div>
      <blockquote class="blockquote-reverse">
        <p>Как хорошо и недорого!</p>
        <small>Один голый на <cite title="Source Title">нудистком пляже </cite></small>
      </blockquote>
    </div>


    <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            {% block page %}
              {% block content %}
              {% endblock %}
            {% endblock %}          
          </div><!-- /.blog-post -->

          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Our friends</h4>
            <p>Each of you knows that we so much love to travel. On this blog we will share with you some news and interesting articles.<br/><em>Serge&Svet</em></p>
            <img src="{% static "blog/images/travel-quote.jpg" %}" alt="Picture1"/>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">February 2016</a></li>
              <li><a href="#">January 2016</a></li>
              <li><a href="#">December 2015</a></li>
              <li><a href="#">November 2015</a></li>
              <li><a href="#">October 2015</a></li>
              <li><a href="#">September 2015</a></li>
              <li><a href="#">August 2015</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2015</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/svetlanadev">GitHub</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100004153561992">Facebook</a></li>
              <li><a href="#">Photogallery</a></li>              
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog built for friends by <a href="https://www.facebook.com/profile.php?id=100004153561992">@svetlanadev</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>



</body>
</html>


          <!--  <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p> -->