{% extends "base.html" %}

<ul>
{% load menubuilder %}
{% menu about_us %}
{% for item in menuitems %}
	<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a>
	</li>
{% endfor %}
</ul>



{% block content %}
<h1>Блог о наших приключениях</h1>
<h2>{{ title | upper }}</h2>
<!-- <p><b>{{ boldmessage | addslashes}}</b></p> -->
<!-- <p><a href="sveta_contact">Мои контакты</a></p> -->
<!--<p><a href="o_nas">О нас</a></p> -->
<!-- <p><a href="admin">Admin</a></p> -->

<!-- <p>Hello, Django. All categories</p> -->
{% for z in category_sequence %}
	<div>
		<a href="category/{{z.id}}">{{ z.name }}</a>
	</div>
{% endfor %}
-----------------------------------------------
<!-- {% for article in articles %}
	<div>
		<h2>{{ article.title }}</h2>
		<a href="post/{{ article.id }}">Read me >> </a>
	</div> -->
<!-- {% endfor %} -->

{% for x in lamps %}
	<div>
		<h2>{{ x.title }}</h2>
		<p><a class="btn btn-primary btn-lg" href="post/{{x.id}}" role="button">Дізнатись більше..</a></p>
<!--		<a href="post/{{x.id}}">Read me >> </a> -->
	</div>
{% endfor %}
-------------------------------------------------
<p>Любимые стихи:</p>
{% for xy in allpoems %}
	<div>
		<a href="poems/{{xy.id}}">{{xy.title}}</a>
	</div>
{% endfor %}

{% endblock %}


