{% extends "blog_base.html" %}

<ul>
{% load menubuilder %}
{% menu about_us %}
{% for item in menuitems %}
	<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a>
	</li>
{% endfor %}
</ul>



{% block content %}
<h1>Blog home page</h1>
<h2>{{ title | upper }}</h2>
<!-- <p><b>{{ boldmessage | addslashes}}</b></p> -->
<p><a href="sveta_contact">Contact here</a></p>
<p><a href="admin">Admin</a></p>
<p><a href="all_categories">All categories here</a></p>

-----------------------------------------------
<p> All Categories </p>
{% for category in categories %}
	<a href="category/{{category.name}}">{{category.name}}</a>
{% endfor %}
<br/>
-----------------------------------------------
{% for article in articles %}
	<div>
		<h2>{{ article.title }}</h2>
		<a href="post/{{ article.id }}">Read me >> </a>
	</div>
{% endfor %}
{% endblock %}
(% template %}
