{% extends "blog_base.html" %}

<ul>
{% load menubuilder %}
{% menu about_us %}
{% for item in menuitems %}
	<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a>
	</li>
{% endfor %}
</ul>



{% block content %}
<h1>Blog home page</h1>
<h2>{{ title | upper }}</h2>
<!-- <p><b>{{ boldmessage | addslashes}}</b></p> -->
<p><a href="sveta_contact">Contact here</a></p>
<p><a href="admin">Admin</a></p>

-----------------------------------------------
<p>Hello, Django. All categories</p>
{% for z in category_sequence %}
	<div>
		<a href="category/{{z.name}}">{{ z.name }}</a>
	</div>
{% endfor %}
-----------------------------------------------
<!-- {% for article in articles %}
	<div>
		<h2>{{ article.title }}</h2>
		<a href="post/{{ article.id }}">Read me >> </a>
	</div> -->
<!-- {% endfor %} -->

{% for x in lamps %}
	<div>
		<h2>{{ x.title }}</h2>
		<a href="post/{{x.id}}">Read me >> </a>
	</div>
{% endfor %}
-------------------------------------------------
{% for xy in allpoems %}
	<div>
		<a href="poems/{{xy.id}}">{{xy.title}}</a>
	</div>
{% endfor %}

{% endblock %}


