{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
   Главная
{% endblock %}

{% block content %}
<div>
	<br/>
	{% if user.is_authenticated %}
		<a class="btn btn-primary btn-lg" href="{% url 'blog:post_add' %}" role="button">Добавить новый Пост</a>
		<h3>Последние заметки: </h3>
    	{% for post in posts %}	
	    	<h2 class="blog-post-title">{{ post.title }}</h2> 
	    	<a href="#">{{ post.category }}</a>
	    	<p>Дата создания: {{ post.created}}</p>
           	<p>
        	    {% autoescape off %}
        	        {{ post.body }}
        	    {% endautoescape %}
        	</p>
        	<img src="{{media_base}}{{ post.image }}"  alt="post_image" width="700" height="394" />
		{% endfor %}
	{% else %}	
		<h3>Последние заметки: </h3>
    	{% for post in posts %}	
	    	<h2 class="blog-post-title">{{ post.title }}</h2>  
	    	<p><a href="/allcategory/">{{ post.category }}</a></p>
	    	<p>Дата создания: {{ post.created}}</p>
        	<p>
                {% autoescape off %}
        	        {{ post.body }}
        	    {% endautoescape %}
        	</p>
        	<img src="{{media_base}}{{ post.image }}"  alt="post_image" width="700" height="394" />
	    {% endfor %}
	{% endif %}

	</div>

---------------------------------------------
<!-- <h4><a href="#">Добавить новую Категорию</a></h4>
{% for category in categories %}
	<div>
		<a href="/category/{{ category.id }}">Категория {{ category.name }}</a>
	</div>
{% endfor %} -->

---------------------------------------------
{% endblock %}
