{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<!-- <img src="{% static "blog/images/busgif.gif" %}" alt="My image"/> -->
	<div>
    {% for post in posts %}	
    	<h2 class="blog-post-title">{{ post.title }}</h2>               
        <p>{{ post.body }}</p>
	    <p>Created: {{ post.created}}</p>
	{% endfor %}
	</div>

---------------------------------------------
{% for z in category_sequence %}
	<div>
		<a href="category/{{z.id}}">{{ z.name }}</a>
	</div>
{% endfor %}
---------------------------------------------

{% endblock %}   