{% extends "index.html" %}
{% load staticfiles %}


{% block content %}
		<div>
			<p>Category: <a href="category/{{categoryItem.name}}">more</a></p> 
		</div>
    {% for post in posts %}
        <div id="post">
                <h2 class="blog-post-title">Post title: {{ post.title }}</h2>
<!--                 <p>Body: {{ post.body }}</p> -->
                <p>Created: {{ post.created }}</p>
        </div>
    {% endfor %}
{% endblock %}

<!-- 
                <p>Category: <a href="/blog/categories/{{ post.category.id }}/">
                   {{ post.category }}</a></p> -->
