{% extends "blog_index.html" %}



{% block content %}
		<div id="category">
			<p>Category: <a href="category/{{categoryItem.name}}">more</a></p> 
		</div>

        <div id="post">
                <h2>Post title: {{ banana.title }}</h2>               
                <p>Body: {{ banana.body }}</p>
                <p>Created: {{banana.created}}</p>
        </div>
{% endblock %}

<!-- 
                <p>Category: <a href="/blog/categories/{{ post.category.id }}/">
                   {{ post.category }}</a></p> -->
