{% extends "index.html" %}
{% load staticfiles %}


{% block content %}
		<div>
			<p>Category: <a href="category/{{categoryItem.name}}">more</a></p> 
		</div>
    {% for p in posts %}
        <div id="post">
                <h2 class="blog-post-title">Post title: {{ p.title }}</h2>
                <p>Body: {{ p.body }}</p>
                <p>Created: {{ p.created }}</p>
        </div>
    {% endfor %}
{% endblock %}

<!-- 
                <p>Category: <a href="/blog/categories/{{ post.category.id }}/">
                   {{ post.category }}</a></p> -->
