/* /static/blog/style.css */

	body {background-color: #c5ffa0}
	a {color:#000060; font-weight: bold;}
	a:hover {color:#ff0000; font-weight: bold; text-decoration:none}
	h1 {color: #0000ff; font-style:  italic; font-size:18px}
	h2 {color: #ff00ff; font-size:16px}
	p {color: red; font-size:14px}


